@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


* {
  font-size: 25px;
}





.input-task {
  text-align: center;
  border: none;
  outline: none;
  text-align: left;
  font-weight: lighter;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  opacity: 0.5;
  border-bottom: 0.5px solid rgb(190, 202, 214);



}

.container {
  width: 600px;
  height: 700px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;

}

.todos {
  font-size: 80px;
  opacity: .4;
  color: rgb(154, 76, 133);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}



.listado {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
}

.close-btn {
  font-style: italic;
  visibility: hidden;

}

.listado:hover .close-btn {
  text-decoration: none;
  color: rgb(226, 77, 102);
  visibility: visible;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;


}

li {
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  opacity: 0.5;
  border-bottom: 0.5px solid rgb(190, 202, 214);

}

.input-div {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0.2px 1px rgba(0, 0, 0, 0.5);

}

.bottomCard {

  left: 440px;
  margin-right: 5px;
  width: 400px;
  height: 25px;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  border-top: 2px solid transparent black;
  padding: 8px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  opacity: 0.5;
  z-index: 100;




}

.bottomCard1 {
  width: 380px;
  height: 7px;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  box-shadow: 0 0.2px 1px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.bottomCard2 {
  width: 350px;
  height: 4px;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  box-shadow: 0 0.2px 1px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}
